:root {
  --yellow: rgb(215, 153, 33);
  --yellow-70: rgba(215, 153, 33, .7);
  --yellow-30: rgba(215, 153, 33, .3);

  --green: rgb(104, 157, 106);
  --green-70: rgba(104, 157, 106, .7);
  --green-30: rgba(104, 157, 106, .3);

  --fg-light: #ebdbb2;
  --fg-dark: #3c3836;

  --background: #282828;
  --border-color: rgba(255, 255, 255, .1);
}