/* FONT PATHS
 * -------------------------- */
@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/roboto/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/roboto/RobotoMono-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/roboto/RobotoMono-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/roboto/RobotoMono-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}