{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title="Tags", main_title=config.title) }}
{%- endblock -%}

{% block content %}
<div class="post">
    <h1 class="post-title">all tags</h1>

    <ul>
        {% for term in terms %}
        <li class="tag-list">
            <a href="{{ term.permalink | safe }}">
                {{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}