{% extends "index.html" %}

{%- block title -%}
{% set title = "Tag: " ~ term.name %}
{{ title_macros::title(page_title=title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
<div class="post">
    <h1 class="post-title">
        tag: #{{ term.name }}
        ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
    </h1>

    <a href="{{ config.base_url | safe }}/tags">
        Show all tags
    </a>

    {{ post_macros::list_posts(pages=term.pages) }}
</div>
{% endblock content %}