{% macro head(config) %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="robots" content="noodp"/>

    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) | safe }}">

<link rel="stylesheet" href="{{ get_url(path="color.css", trailing_slash=false) | safe }}">
<link rel="stylesheet" href="{{ get_url(path="font-roboto.css", trailing_slash=false) | safe }}">

{% endmacro head %}
