{% extends "index.html" %}

{% block title %}
404
{% endblock title %}

{% block header_menu %}
{{ menu_macros::menu_for(config=config, current_item="") }}
{% endblock header_menu %}

{% block content %}
<div class="post">
  <h1 class="post-title">{% block heading %}Lost?{% endblock heading %}</h1>
  <p>{% block message %}This page does not exist.{% endblock message %}</p>
</div>
{% endblock content %}