{% import "macros/date.html" as date_macros -%}
{% import "macros/head.html" as head_macros -%}
{% import "macros/menu.html" as menu_macros -%}
{% import "macros/post.html" as post_macros -%}
{% import "macros/title.html" as title_macros -%}

<!DOCTYPE html>
<html lang="{%- if config.default_language -%}{{ config.default_language }}{%- else -%}en{%- endif -%}">

<head>
    <title>{%- block title %}{{ config.title }}{% endblock title -%}</title>
    {{ head_macros::head(config=config) }}

    {%- if config.generate_feed %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" rss.xml") | safe }}">
    {% endif -%}

    {%- if config.extra.favicon %}
    <link rel="shortcut icon" type="{{ config.extra.favicon_mimetype | default(value=" image/x-icon") | safe }}"
        href="{{ config.extra.favicon | safe }}">
    {% endif -%}

    {%- block extra_head %}
    {% endblock extra_head -%}
</head>

<body class="">
    <div class="container">
        {% block header %}
        <header class="header">
            <div class="header__inner">
                <div class="header__logo">
                    {% set logo_link = config.base_url %}
                    <a href="{{ logo_link | safe }}" style="text-decoration: none;">
                        <div class="logo">
                            {% block logo_content %}
                            nikos-alexandris
                            {% endblock logo_content %}
                        </div>
                    </a>
                </div>
            </div>

            {% block header_menu %}
            {{ menu_macros::menu(config=config, current_path=current_path) }}
            {% endblock header_menu %}
        </header>
        {% endblock header %}

        <div class="content">
            {% block content %}
            <div class="posts">
                {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
                {% else %}
                {%- set show_pages = section.pages -%}
                {% endif -%}

                {%- for page in show_pages %}
                <div class="post on-list">
                    {{ post_macros::header(page=page) }}
                    {{ post_macros::content(page=page, summary=true) }}
                </div>
                {% endfor -%}
                <div class="pagination">
                    <div class="pagination__buttons">
                        {%- if paginator.previous %}
                        <span class="button previous">
                            <a href="{{ paginator.previous | safe }}">
                                <span class="button__icon">←</span>&nbsp;
                                <span class="button__text">Newer posts</span>
                            </a>
                        </span>
                        {% endif -%}
                        {%- if paginator.next %}
                        <span class="button next">
                            <a href="{{ paginator.next | safe }}">
                                <span class="button__text">Older posts</span>&nbsp;
                                <span class="button__icon">→</span>
                            </a>
                        </span>
                        {% endif -%}
                    </div>
                </div>
            </div>
            {% endblock content %}
        </div>

        {% block footer %}
        {% endblock footer %}

    </div>
    {%- block extra_body %}
    {% endblock extra_body -%}
</body>

</html>